{% if product.available %}
    <div class="price__element text-slate-900 {{ class }} mb-4">
        {% if product.compare_at_price > product.price %}
        <div class="price__element-sale flex justify-between">
            <span class="sr-only">{{ 'products.product.price.sale_price' | t }}</span>
            <span class="text-2xl font-bold">{{ product.price | money }}</span>
            <span class="bg-red-700 text-white px-3 py-1 rounded-lg text-sm flex items-center"><s class="">{{ product.compare_at_price | money }}</s></span>
        </div>
        {% elsif product.price_varies %}
            <div class="price__element-varies">
            From {{ product.price_min | money }} to {{ product.price_max | money }}
            </div>
        {% else %}
            <div class="price__element-normal">
                <span class="sr-only">{{ 'products.product.price.regular_price' | t }}</span>
                {{ product.price | money }}
            </div>
        {% endif %}
    </div>
{% endif %}