{% comment %}
    Renders a set of links for paginated results. Must be used within paginate tags.

    Usage:
    {% paginate results by 2 %}
      {% render 'pagination', paginate: paginate, anchor: '#yourID' %}
    {% endpaginate %}

    Accepts:
    - paginate: {Object}
    - anchor: {String} (optional) This can be added so that on page reload it takes you to wherever you've placed your anchor tag.
{% endcomment %}

<link rel="stylesheet" href="{{ 'component-pagination.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-pagination.css' | asset_url | stylesheet_tag }}</noscript>

{%- if paginate.parts.size > 0 -%}
  <div class="pagination-wrapper">
    <nav class="pagination flex items-center justify-center py-10 lg:px-0 sm:px-6 px-4" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">

      <ul class="pagination__list lg:w-3/5 w-full flex items-center justify-between border-t border-gray-200" role="list">
      {%- if paginate.previous -%}
        <li>
          <a href="{{ paginate.previous.url }}{{ anchor }}" class="pagination__item pagination__item--next pagination__item-arrow link motion-reduce flex items-center pt-3 text-gray-600 hover:text-sp-orange-1 cursor-pointer" aria-label="{{ 'general.pagination.previous' | t }}">
            {% render 'icon-pagination-left' %}
            <p class="text-sm ml-3 font-medium leading-none ">Previous</p>
          </a>
        </li>
      {%- endif -%}

      {%- for part in paginate.parts -%}
        <li class="sm:flex hidden">
          {%- if part.is_link -%}
            <a href="{{ part.url }}{{ anchor }}" class="pagination__item link text-sm font-medium leading-none cursor-pointer text-gray-600 hover:text-sp-orange-1 border-t border-transparent hover:border-sp-orange-1 pt-3 mr-4 px-2" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
          {%- else -%}
            {%- if part.title == paginate.current_page -%}
              <span class="pagination__item pagination__item--current text-sm font-medium leading-none text-sp-orange-1 border-t border-sp-orange-1 pt-3 mr-4 px-2" aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
            {%- else -%}
              <span class="pagination__item">{{ part.title }}</span>
            {%- endif -%}
          {%- endif -%}
        </li>
      {%- endfor -%}

      {%- if paginate.next -%}
        <li>
          <a href="{{ paginate.next.url }}{{ anchor }}" class="pagination__item pagination__item--prev pagination__item-arrow link motion-reduce flex items-center pt-3 text-gray-600 hover:text-sp-orange-1 cursor-pointer" aria-label="{{ 'general.pagination.next' | t }}" >
            <p class="text-sm font-medium leading-none mr-3">Next</p>
            {%- render 'icon-pagination-right' -%}
          </a>
        </li>
      {%- endif -%}
      </ul>
    </nav>
  </div>
{%- endif -%}
